/* global controls */

* {
  box-sizing: border-box;
}

/* .margin {
  margin: 0 auto;
  max-width: 490px;
  padding: 0 3rem;
} */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/*THIS EFFECTS THE NAVBAR - BUT WHY??*/
a {
  color: #23213B;
  font-family: 'arial', 'sans serif';
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

p {
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 150%;
  text-align: left;
}

h1 {
  color: #F8A094;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  padding: 2rem;
  text-align: center;
  line-height: 121%;
  /* or 44px */
  text-align: center;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
}

h3 {
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 4rem 2rem 0 0;
  margin: 0;
}

h4 {
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  /* Light */
  color: #F1C3CB;
}


ul {
  font-family: 'arial', 'sans serif';
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  list-style-type: none;

}

/*why does button-dark not need text-align but button-light DOES?*/
.button-dark {
  border: 0.2rem solid #F8A094;
  border-radius: 4px;
  background-color: #792D52;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: 'arial', 'sans serif';
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  padding: 1.5rem;
  margin: 4rem 4rem 4rem;
}

.button-light {
  border: 0.2rem solid #792D52;
  border-radius: 4px;
  background-color: #F8A094;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: 'arial', 'sans serif';
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  margin: 4rem 4rem 4rem;
}


.button:hover {
  background-color: #792D52;
  border: 0.1rem solid #ffffff;
  color: white;
}

.button-alt {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  border: .1rem solid #792D52;
  border-radius: 4px;
  color: #792D52;
  cursor: pointer;
  font-family: 'arial', 'sans serif';
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2.5rem 4rem 2.5rem 4rem;
  transition-duration: 0.5s;
}

.button-alt:hover {
  background-color: #792D52;
  border: .1rem solid #792D52;
  color: #FFFFFF;
}

/* back to top button 
.button-btp {
  color: #000000;
  cursor: pointer;
  display: block;
  font-family: 'arial', 'sans serif';
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 4rem 10rem 0 10rem;
  transition-duration: 0.5s;
}

.button-btp:hover {
  color: #792D52;
}
*/

.downarrow {
  padding: 14rem 0 10rem 0;
  text-align: center;
}

/* navigation */
nav {
  align-items: center;
  background-color: #FFF1EF;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  position: fixed;
  z-index: 9999;
  width: 100%;
  align-content: center;
}

.nav_logo {
  margin-left: 1rem;
  width: 4rem;
  padding: .4rem;
}

.nav_links {
  margin-right: 2rem;
}

.nav_links ul {
  padding: 0;
}

.nav_links li {
  display: inline;
  margin: 0 1rem;
}

.nav_links a:hover {
  color: #792D52;
}

/* banner */

.banner {
  /* background-image: linear-gradient(-90deg, #4bf19f, #53c2b4); */
  background: #23213B;
  /* what is this vh height about?
  height: 100vh;
  */
  padding: 12rem 0 1rem 0;
}

.banner_txt {
  margin: 0rem 2rem 0 2rem;
}

.banner_txt h2 {
  color: #FFF1EF;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.banner p {
  color: #FFF1EF;
  font-size: 2rem;
  line-height: 3.2rem;
  margin-top: 2rem;
  text-align: center;
}

.banner_txt strong {
  font-weight: normal;
}



/* project-banner */

.project-busybus .project-gameof,
h2 {
  color: #F8A094;
}

.project-busybus .project-gameof,
h3 {
  color: #F1C3CB;
}

.project-busybus,
.project-gameof {
  padding: 10rem 0 10rem 0;
  background-color: #23213B;
}

.project_txt-right

/*gameof, busybus*/
  {
  float: right;
  width: 40%;
}

.project-blocjams {
  padding: 10rem 0 10rem 0;
  background-color: #FFF1EF;
}

.project-blocjams h2 {
  color: #792D52;
}

.project-blocjams h3 {
  color: #7270AF;
}

.project-blocjams p {
  color: #23213B;
}

.project-blocjams img {
  width: 30%;
}

.project-gameof img,
.project-busybus img {
  width: 20%;
}


.project_txt-left

/*bloc jams*/
  {
  float: left;
  width: 40%;
}


/* BRIEF */

.brief_specs {
  margin: 0rem 2.5rem 6rem 2.5rem;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
  color: #ffffff;
}

.brief_specs h2 h3 {
  text-align: left;
}

.text_box {
  background-color: #792D52;
  border-radius: 3rem;
  color: #ffffff;
  padding: 2rem;
  text-align: left;
}

.text-box-light {
  margin: 0rem 2.5rem 6rem 2.5rem;
  background-color: #7D556A;
  border-radius: 3rem;
  color: #ffffff;
  padding: 2rem;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.light-purple {
  background-color: #7D556A;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

.light-purple h2 h4 {
  padding: 2rem;
  text-align: center;
}

.light-purple ul {
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.social-icon {
  width: 5%;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}


/*social-icon {
    width: 30%;
    @media(max-width: 768px){
        width: 100%;
    }
}

/*Add a wrapper around content and give it a max width, screens nowadays can be wide. So when you give the content a max width it doesn't morph the content

<div class="banner-background">
    <div class="banner-wrapper"> //max-width of 1100px
        //content
    </div>
</div>

/*footer:hover {
    background: yellow;
}*/


